:host {
  width: 100%;
  height: fit-content;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .info {
    color: var(--text-2);
    .label {
      display: inline;
    }
  }
}