<app-page-header
  [image]="taxon?.thumbnail"
  [header]="taxon?.commonName?.en"
  [label]="taxon?.scientificName"
  [ngClass]="{'mobile': sharedService.screenSize === 's'}"
>
  <kor-card
    class="info"
    [ngClass]="{'mobile': sharedService.screenSize === 's'}"
  >
    <kor-text color="var(--text-2)">
      Category: {{taxon?.category?.charAt(0)?.toUpperCase()}}{{taxon?.category?.slice(1)}}
      <br>
      Family: {{taxon?.commonFamilyName}} ({{taxon?.scientificFamilyName}})
      <br>
      Order: {{taxon?.order}}
    </kor-text>
  </kor-card>
</app-page-header>