:host {
  width: 100%;
  height: fit-content;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  kor-divider {
    display: flex;
  }
  .info {
    color: var(--text-2);
    line-height: 1.5;
    text-align: left;
    width: 100%;
  }
}