:host {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  font-weight: bold;
  height: fit-content;
  cursor: pointer;
  border: 1px solid rgba(var(--neutral-1), 0.25);
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: rgba(var(--neutral-2), .6);
  backdrop-filter: blur(10px);
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  > kor-icon {
    margin-right: 4px;
  }
  &:hover {
    border-color: rgba(var(--neutral-1), 0.3);
    background-color: rgba(var(--neutral-2), .9);
    &::before { 
      background-color: rgba(var(--neutral-1), 0.05);
    }
  }
}
:host, :host::before {
  transition: .1s all ease-out;
}