<ng-container *ngIf="media">
  <!-- image -->
  <img
    [src]="media.image"
    alt="An image of a bird"
  />
  <!-- content -->
  <div class="content">
    <!-- header -->
    <div
      class="header"
      [ngClass]="{'mobile': sharedService.screenSize === 's'}"
    >
      <!-- header summary -->
      <div
        class="taxon"
        (click)="router.navigateByUrl('/taxon/' + media.taxonUid)"
      >
        <kor-text size="header-1">{{media.taxonDoc?.commonName?.en}}</kor-text>
        <kor-text>{{media.taxonDoc?.scientificName}}</kor-text>
      </div>
      <!-- further details -->
      <div class="details">
        <div
          class="owner"
          (click)="router.navigateByUrl('/user/' + media.ownerDoc?.uid)"
        >
          <kor-icon [icon]="media.ownerDoc?.image ? 'url(' + media.ownerDoc?.image + ')' : 'face'"></kor-icon>
          {{media.ownerDoc?.name}}
        </div>
        <div>
          <kor-icon icon="event"></kor-icon>
          {{media.date.toDate() | date}}
        </div>
      </div>
    </div>
  </div>
</ng-container>