<ng-container>
  <!-- image -->
  <img
    [src]="media?.image"
    alt="An image of a bird"
  />
  <!-- content -->
  <div class="content">
    <!-- header -->
    <div
      class="header"
      [ngClass]="{'mobile': sharedService.screenSize === 's'}"
    >
      <!-- header summary -->
      <div class="title">
        <div
          class="taxon"
          (click)="router.navigateByUrl('/taxon/' + media?.taxonUid)"
        >
          <kor-text size="header-1">{{media?.taxonDoc?.commonName?.en}}</kor-text>
          <kor-text>{{media?.taxonDoc?.scientificName}}</kor-text>
        </div>
        <!-- edit button -->
        <kor-button
          icon="edit"
          color="secondary"
          (click)="editMediaModalVisible = true"
          *ngIf="userService.user?.uid === media?.ownerUid"
        ></kor-button>
      </div>
      <!-- further details -->
      <div class="details">
        <div
          class="owner"
          (click)="router.navigateByUrl('/user/' + media?.ownerDoc?.uid)"
        >
          <kor-icon [icon]="media?.ownerDoc?.image ? 'url(' + media?.ownerDoc?.image + ')' : 'face'"></kor-icon>
          {{media?.ownerDoc?.name}}
        </div>
        <div>
          <kor-icon icon="event"></kor-icon>
          {{media?.date.toDate() | date}}
        </div>
      </div>
      <!-- description -->
      <kor-text>{{media?.description}}</kor-text>
    </div>
  </div>
</ng-container>

<!-- edit media modal -->
<app-edit-media-modal
  *ngIf="editMediaModalVisible"
  [media]="media"
  (close)="editMediaModalVisible = false"
></app-edit-media-modal>