:host {
  width: 100%;
  flex: 1;
  height: fit-content;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  > kor-text[size="header-1"] {
    margin-top: 24px;
    font-size: 20px;
    display: flex;
  }
  > kor-text[size="header-2"] {
    font-size: 16px;
  }
  > * + * {
    margin-top: 24px;
  }
  // result
  img {
    object-fit: scale-down;
    background: black;
    max-height: 480px;
    border-radius: var(--border-radius);
  }
  .taxon-list {
    display: flex;
    flex-direction: column;
    kor-input {
      margin-bottom: 16px;
    }
    > * + * {
      margin-top: 12px;
    }
  }
  // confirm button
  kor-button {
    position: fixed;
    right: 16px;
    &.mobile {
      box-sizing: border-box;
      max-width: unset;
      width: calc(100vw - 32px);
      bottom: 72px;
      padding: 8px 12px;
    }
    &:not(.mobile) {
      bottom: 16px;
    }
  }
  // hidden input
  input[type="file"] {
    display: none;
  }
}