<ng-container *ngIf="!tempImage; then emptyState; else details"></ng-container>
<!-- 1. select image -->
<input
  type="file"
  accept="image/*"
  (change)="uploadImage($event.target)"
  #fileInput
/>
<ng-template #emptyState>
  1
</ng-template>
<ng-template #details>
  <ng-container *ngIf="!media?.taxonUid; then selectTaxon; else review"></ng-container>
  <!-- 2. select taxon -->
  <ng-template #selectTaxon>
    <div class="image">
      <kor-text size="header-1">Select taxon</kor-text>
      <img
        [src]="tempImage"
        alt=""
      />
    </div>
    <!-- taxon list -->
    <div class="taxon-list">
      <kor-input
        type="search"
        label="Search for other taxon..."
      ></kor-input>
      <!-- suggested taxon -->
      <ng-container *ngIf="searchTaxonList.length > 0; then searchTaxon; else suggestedTaxon"></ng-container>
      <ng-template #suggestedTaxon>
        <app-suggestion-card
          *ngFor="let taxon of suggestedTaxonList"
          [image]="taxon.thumbnail"
          [header]="taxon.commonName?.en"
          [label]="taxon.scientificName"
          [confidence]="50"
          (click)="media!.taxonUid = taxon.uid"
        ></app-suggestion-card>
      </ng-template>
      <!-- search taxon -->
      <ng-template #searchTaxon>
        <app-suggestion-card
          *ngFor="let taxon of suggestedTaxonList"
          [image]="taxon.thumbnail"
          [header]="taxon.commonName?.en"
          [label]="taxon.scientificName"
          [confidence]="50"
          (click)="media!.taxonUid = taxon.uid"
        ></app-suggestion-card>
      </ng-template>
    </div>
  </ng-template>
  <!-- 3. review -->
  <ng-template #review>
    review
    {{tempImage}}
    {{media?.taxonUid}}
  </ng-template>
</ng-template>