<!-- upload -->
<input
  type="file"
  accept="image/*"
  (change)="uploadImage($event.target)"
  #fileInput
/>
<!-- select species -->
<kor-grid
  *ngIf="uploadedImage"
  spacing="l"
  [columns]="sharedService.screenSize === 's' ? 1 : 2"
  [ngClass]="sharedService.screenSize === 's' ? 'mobile' : ''"
>
  <div class="image">
    <kor-text size="header-1">
      <kor-icon
        button
        icon="arrow_back"
        (click)="uploadedImage = undefined"
      ></kor-icon>
      Image
    </kor-text>
    <img
      [src]="uploadedImage"
      alt=""
    />
  </div>
  <div class="suggestions">
    <kor-text size="header-1">Suggested species</kor-text>
  </div>
</kor-grid>