:host {
  width: 100%;
  height: fit-content;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .info {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid rgba(var(--neutral-1), .2);
    width: 100%;
    kor-text:not([color]) {
      font-weight: bold;
    }
  }
}