<kor-page
  theme="{{sharedService.appTheme}}"
  flex-direction="column"
>
  <!-- app bar -->
  <kor-app-bar
    [mobile]="sharedService.screenSize === 's'"
    slot="top"
    logo="../favicon.ico"
    [label]="sharedService.appLabel"
  >
    <img
      height="24"
      src="../favicon.ico"
      slot="left"
      alt=""
    />
    <!-- user identifier -->
    <kor-avatar
      [slot]="sharedService.screenSize === 's' ? 'right' : 'functions'"
      [image]="userService.user?.image"
      (click)="!userService.user ? userService.signInModalVisible = true : userService.userDrawerVisible = true"
    ></kor-avatar>
  </kor-app-bar>
  <!-- body -->
  Hello World
  <!-- nav bar -->
  <kor-nav-bar slot="bottom">
    <kor-tabs>
      <kor-tab-item
        icon="home"
        active
      ></kor-tab-item>
      <kor-tab-item icon="home"></kor-tab-item>
      <kor-tab-item icon="home"></kor-tab-item>
    </kor-tabs>
  </kor-nav-bar>
</kor-page>
<!-- sign in -->
<app-sign-in-modal
  *ngIf="userService.signInModalVisible"
  (close)="userService.signInModalVisible = false"
></app-sign-in-modal>
<!-- user drawer -->
<app-user-drawer
  *ngIf="userService.userDrawerVisible"
  (close)="userService.userDrawerVisible = false"
></app-user-drawer>