<kor-page
  theme="{{sharedService.appTheme}}"
  flex-direction="column"
  scrollable
>
  <!-- app bar -->
  <kor-app-bar
    [mobile]="sharedService.screenSize === 's'"
    slot="top"
    logo="../favicon.ico"
    [label]="sharedService.appLabel"
  >
    <img
      *ngIf="router.url === '/upload'"
      height="24"
      src="../favicon.ico"
      slot="left"
      alt=""
    />
    <!-- back icon -->
    <kor-icon
      *ngIf="router.url !== '/upload'"
      slot="left"
      icon="arrow_back"
      button
      (click)="location.back()"
    ></kor-icon>
    <!-- user identifier -->
    <kor-avatar
      [slot]="sharedService.screenSize === 's' ? 'right' : 'functions'"
      [image]="userService.user?.image"
      (click)="!userService.user ? userService.signInModalVisible = true : userService.userDrawerVisible = true"
    ></kor-avatar>
  </kor-app-bar>
  <!-- body -->
  <router-outlet></router-outlet>
</kor-page>
<!-- sign in modal -->
<app-sign-in-modal
  *ngIf="userService.signInModalVisible"
  (close)="userService.signInModalVisible = false"
></app-sign-in-modal>
<!-- user drawer -->
<app-user-drawer
  *ngIf="userService.userDrawerVisible"
  (close)="userService.userDrawerVisible = false"
></app-user-drawer>