<kor-page
  theme="{{sharedService.appTheme}}"
  flex-direction="column"
>
  <!-- app bar -->
  <kor-app-bar
    [mobile]="sharedService.screenSize === 's'"
    slot="top"
    logo="../favicon.ico"
    [label]="sharedService.appLabel"
  >
    <img
      height="24"
      src="../favicon.ico"
      slot="left"
      alt=""
    />
  </kor-app-bar>
  <!-- body -->
  <kor-text size="header-1">
    Identify bird species automatically
  </kor-text>
  <!-- nav bar -->
  <kor-nav-bar slot="bottom">
    <kor-tabs>
      <kor-tab-item
        icon="home"
        active
      ></kor-tab-item>
      <kor-tab-item icon="home"></kor-tab-item>
      <kor-tab-item icon="home"></kor-tab-item>
    </kor-tabs>
  </kor-nav-bar>
</kor-page>