:host {
  display: flex;
  cursor: pointer;
  border: 1px solid rgba(var(--neutral-1), .2);
  border-radius: var(--border-radius);
  overflow: hidden;
  &:hover img {
    filter: brightness(0.75);
  }
  img, .icon {
    height: 120px;
    width: 120px;
  }
  img {
    transition: .1s all ease-out;
    object-fit: cover;
  }
  .icon {
    background: rgba(var(--neutral-1), .1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: unset;
    kor-icon {
      line-height: 48px;
      font-size: 48px;
      height: 48px;
      width: 48px;
      color: rgb(var(--neutral-1));
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    padding: 4px 16px;
    kor-text {
      overflow: hidden;
      text-overflow: ellipsis;
      &[size="header-1"] {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &:not([size="header-1"]) {
        white-space: nowrap;
      }
      &.skeleton {
        height: 16px;
        margin: 4px 0;
      }
    }
    kor-tag {
      margin-top: 8px;
      padding: 0 4px;
      --body-1: bold 14px/24px 'open-sans';
      &.high {
        background-color: rgb(var(--accent-2));
        border-color: rgb(var(--accent-2));
        --text-1: white;
      }
      &:not(.high) {
        --text-1: rgb(var(--accent-2));
        border-color: rgb(var( --accent-2));
      }
    }
  }
}