<div class="banner">
  <app-empty-state
    header="What the bird?"
    label="Upload a bird picture and we tell you what it is"
    image="https://ouch-cdn.icons8.com/preview/284/4ee61a37-4228-46e5-b85f-135679e8ab2f.png"
  >
    <!-- button -->
    <kor-button
      label="Upload"
      (click)="router.navigateByUrl('/upload')"
    ></kor-button>
  </app-empty-state>
</div>
<!-- carousel -->
<div class="carousel">
  <kor-text size="header-1">Recent Media</kor-text>
  <kor-grid
    fit-content
    [columns]="sharedService.screenSize === 's' ? '8' : '4'"
  >
    <app-media-card
      *ngFor="let media of recentMediaList"
      [header]="media.taxonDoc?.commonName?.en"
      [label]="media.taxonDoc?.scientificName"
      [image]="media.image"
      (click)="router.navigateByUrl('/media/' + media.uid)"
    ></app-media-card>
  </kor-grid>
</div>