:host {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  .flex {
    display: flex;
    align-items: center;
    // general rules
    .image {
      border-radius: 50%;
      background: rgba(var(--accent-1), .2);
      display: flex;
      align-items: center;
      justify-content: center;
      kor-icon {
        line-height: 48px;
        font-size: 48px;
        height: 48px;
        width: 48px;
        color: rgb(var(--accent-1));
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      kor-text[size="header-1"] {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  // small screen size
  &.mobile .flex {
    flex-direction: column;
    text-align: center;
    > * + * {
      margin-top: 16px;
    }
    .image {
      width: 136px;
      height: 136px;
    }
  }
  // large screen size
  &:not(.mobile) .flex {
    > * + * {
      margin-left: 16px;
    }
    .image {
      width: 104px;
      height: 104px;
    }
    .text {
      flex: 1;
      justify-content: center;
    }
  }
}