:host {
  width: 100%;
  flex: 1;
  height: fit-content;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * + * {
    margin-top: 32px;
  }
  // upload
  .illustration {
    height: calc(100% - 160px);
    max-height: 240px;
  }
  > kor-text {
    line-height: 1.5;
    max-width: 400px;
    text-align: center;
    &[size="header-1"] {
      display: flex;
      flex-direction: column;
      font-size: 24px;
    }
  }
  input[type="file"] {
    display: none;
  }
  // result
  kor-grid {
    &.mobile {
      height: fit-content;
      margin-bottom: auto;
    }
    &:not(.mobile) > * img {
      flex: 1;
    }
    > * {
      display: flex;
      flex-direction: column;
      > kor-text {
        margin-bottom: 16px;
        font-size: 20px;
        display: flex;
        kor-icon {
          margin-right: 8px;
        }
      }
      img {
        object-fit: scale-down;
        background: rgba(var(--neutral-1), .05);
      }
    }
  }
}