html,
body,
*[theme] {
  --shadow-1: 0 0 0 1px rgba(var(--neutral-1), .2) !important;
  --base-1: var(--base-0) !important;
  --base-2: var(--base-0) !important;
  --base-3: var(--base-0) !important;
  --base-4: var(--base-0) !important;
  --accent-1: 235, 65, 10 !important;
  --accent-1b: 245, 75, 20 !important;
  --accent-1c: 225, 55, 0 !important;
  --accent-2: 80, 30, 180 !important;
  --header-1: normal 16px/24px 'Archivo Black' !important;
  --header-2: normal 14px/24px 'Archivo Black' !important;
  --border-radius: 8px;
  font: var(--body-1) !important;
  color: var(--text-1);
}
kor-nav-bar kor-tab-item {
  border: unset;
  &[active] {
    color: rgb(var(--accent-1));
  }
}
kor-button {
  &.mobile {
    box-sizing: border-box;
    padding: 8px 12px;
    max-width: unset;
  }
  &[color="primary"] {
    background-color: rgb(var(--accent-2));
  }
}
// page transitions
app-home,
app-taxon,
app-taxon-list,
app-user,
app-place,
app-media {
  transition: .4s all ease-out;
  &.transition {
    opacity: 0;
    transform: translateY(24px);
  }
}